MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=businessproject
SPRING_DATASOURCE_NAME = businessproject
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/businessproject
SPRING_DATASOURCE_PASSWORD=root
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

SPRING_JPA_HIBERNATE_DDL_AUTO=update

SERVER_PORT=2330